@model Entidades.Models.Complementario;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Datos complementarios (editar)</h4>
    <br />
    <form action="/Complementario/editComplementary" method="POST">
        <div class="row">            
            <div class="col">
                <label class="form-label" for="ParajeResidencia">Paraje de Residencia: </label>
                <input class="form-control" type="text" name="ParajeResidencia" value="@ViewBag.Complementario[0].ParajeResidencia" />
            </div>            
            <div class="col">
                <label class="form-label" for="EstadoCivilId">Estado Civil: </label>
                <select class="form-control" name="EstadoCivilId">
                    <option selected value=ViewBag.EstadoCivil.Id>@ViewBag.EstadoCivil.Descripcion</option>
                    @foreach (Entidades.Models.EstadoCivil estadoCivil in ViewBag.EstadoCivilFiltered)
                    {
                        <option selected value=@estadoCivil.Id>@estadoCivil.Descripcion</option>
                    }
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Ocupacion">Ocupacion: </label>
                <input class="form-control" type="text" name="Ocupacion" value="@ViewBag.Complementario[0].Ocupacion" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="SabeLeer">Sabe Leer? </label>
                <select class="form-control" name="SabeLeer">
                    @if (@ViewBag.Complementario[0].SabeLeer == 1)
                    {
                        <option selected value=1>Si</option>
                        <option value=0>No</option>
                    }
                    else
                    {
                        <option value=1>Si</option>
                        <option selected value=0>No</option>
                    }         
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="EscolaridadId">Escolaridad: </label>
                <select class="form-control" name="EscolaridadId">
                    <option selected value=ViewBag.Escolaridad.Id>@ViewBag.Escolaridad.Descripcion</option>
                    @foreach (Entidades.Models.Escolaridad escolaridad in ViewBag.EscolaridadFiltered)
                    {
                        <option selected value=@escolaridad.Id>@escolaridad.Descripcion</option>
                    }
                </select>      
            </div>
            <div class="col">
                <label class="form-label" for="EscolaridadCompleta">Escolaridad Completa? </label>
                <select class="form-control" name="EscolaridadCompleta">
                    @if (@ViewBag.Complementario[0].EscolaridadCompleta == 1)
                    {
                        <option selected value=1>Si</option>
                        <option value=0>No</option>
                    }
                    else
                    {
                        <option value=1>Si</option>
                        <option selected value=0>No</option>
                    }
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Notas">Notas: </label>
                <textarea name="Notas" class="form-control" cols="120" rows="8">@ViewBag.Complementario[0].Notas</textarea>
            </div>
        </div>
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Complementario[0].PacienteId hidden />
        <input type="number" name="Id" value=@ViewBag.Complementario[0].Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Modificar Datos complementarios" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Complementario[0].PacienteId">Cancelar</a>
    </form>
</div>